@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

<h4>Add a new task</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description)

    @Html.Label("Select first flavor")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Add new treat" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Treats", "Index")</p>