@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

<h2>@Html.DisplayFor(model => model.Name) Details</h2>
<hr />

<h3>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)<h3>

@if(@Model.JoinEntities.Count ==0)
{
  <p>This Treat does not have any Flavors yet</p>
}
else
{
  <h4>Flavors the treat has:</h4>
  <ul>
    @foreach(var join in Model.JoinEntities)
    {
      <li>@join.Flavor.Name</li>
      
    }
  </ul>
}
<br>
<hr />
<p>@Html.ActionLink("Edit Treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Back to home page", "Index", "Home")</p>