@{
    Layout = "_Layout";
}

@using SweetAndSavory.Models

<h1>Welcome to Pierre's Sweet and Savory Treats!</h1>
@if(ViewBag.Flavors.Count == 0)
{
    <h3>Pierre has not created any delicious flavors yet</h3>
}
else
{
    <ul>
        @foreach(Flavor flavor in ViewBag.Flavors)
        {
            @Html.ActionLink(flavor.Name, "Details", "Flavors", new { id = flavor.FlavorId})
        }
    </ul>
}

@if(ViewBag.Treats.Count == 0)
{
    <h3>There are no treats for you! Go home and reflect on this!</h3>
}
else
{
    <ul>
        @foreach(Treat treat in ViewBag.Treats)
        {
            @Html.ActionLink(treat.Name, "Details", "treats", new { id = treat.TreatId})
        }
    </ul>
}

<p>@Html.ActionLink("See all Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("See all Flavors", "Index", "Flavors")</p>
<p>@Html.ActionLink("Login to your account", "Login", "Account")</p>
<p>@Html.ActionLink("Create an account", "Index", "Account")</p>